@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
$body-color: #000000;
$text-color: #FFFFFF;
$unselected-text-color: #B3B3B3;
$font: 'Raleway', sans-serif;

.content{
    color: $text-color;
    font-size: 100px;
    height: 100vh;
    width: 100%;
    background: #151515;
    font-family: $font;

    overflow-y: scroll;
    overflow-x: hidden;
}

.content > h4{
    font-size: 50px;
    padding: 0;
    margin: 0;
}

.content::-webkit-scrollbar{
    width: 12px;
    background-color: $body-color;
}
.content::-webkit-scrollbar-track{
    background: linear-gradient(180deg, rgba(34,34,34,1) 0%, rgba(18,18,18,1) 100%);
}
.content::-webkit-scrollbar-thumb{
    background-color: #4D4D4D;;
}
.content::-webkit-scrollbar-thumb:hover{
    background-color: #808080;
}

/*Header*/

.header{
    position: sticky;
    top: 0;
    background-color: $body-color   ;

    height: 65px;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrows{
    margin-left: 30px;
    font-size: 37px;
    width: 86px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    opacity: 0.5;
}

.profile-menu{
    height: 50%;
    min-width: 100px;
    max-width: 500px;

    border-radius: 50px;
    background-color: $body-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;

    margin-right: 30px;
}

.profile-menu:hover{
    background-color: #282828;
}

.profile-menu > img{
    border-radius: 100px;
    width: 35px;
    height: 100%;
    margin-right: 5px;
}

.profile-menu > p{
    margin: 0;
    font-size: 12px;
    font-weight: bold;
}

.arrow-down{
    font-size: 25px;
    font-weight: 900;
}

@keyframes arrow-animation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(180deg);
    }
}

.arrow-down:active {
    animation: arrow-animation;
    animation-duration: 0.5s;
}

/*Contenido de la pagina*/
.recently-played{
    margin-left: 30px;
}

.recently-played > h1{
    font-size: 35px;
    margin: 0;
}

.rp-grid{
    margin-top: 15px;
    width: 1240px;
    height: 175px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 400px));
    grid-template-rows: repeat(auto-fit, minmax(80px, 80px));
    grid-gap: 20px;
}

.song-container{
    height: 100%;
    width: 100%;
    background-color: #2A2A2A;
    font-size: 20px;
    border-radius: 5px;

    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.song-container:hover{
    background-color: #414141;
}

.song-container > img{
    height: 80px;
    width: 80px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.song-container > p{
    margin-left: 16px;
    font-weight: bold;
    font-size: 16px;
}

.container:hover .play-button{
    display: flex;
}

.container .play-button{
    display: none;
}

/*Estilos de cada lista de canciones*/
.song-list{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.song-list > h1{
    font-size: 35px;
    margin: 0;
}