@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
$body-color: #000000;
$text-color: #FFFFFF;
$unselected-text-color: #B3B3B3;
$font: 'Raleway', sans-serif;

.content{
    color: $text-color;
    font-size: 100px;
}