@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
$body-color: #000000;
$secondary-color: #181818;
$text-color: #FFFFFF;
$buttons-important-things: #1ED760;
$selected-button: #1FDF64;
$unselected-text-color: #B3B3B3;
$font: 'Raleway', sans-serif;


.reproduction-bar{
    position: fixed;
    width: 100%;
    height: 92px;
    background-color: $secondary-color;
    bottom: 0;
    font-family: $font;
    color: $text-color;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(33.33%, 33.33%));
}

.song-playing{
    height: 100%;

    display: flex;
    flex-direction: row;
    margin-left: 15px;
    align-items: center;
}

.song-playing > img {
    height: 56px;
    width: 56px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.song-playing-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 14px;
}

.song-playing-info > h1 {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 600;
}

.song-playing-info > p {
    margin: 0;
    padding: 0;
    font-size: 10px;
    color: $unselected-text-color;
    font-weight: 600;
}

.heart{
    margin-left: 30px;
}

.r-buttons{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 25px;

    color: $unselected-text-color;
}


.r-button:hover{
    color: $text-color;
}

.rep-play-button{
    width: 33px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    font-size: 25px;
    background-color: $unselected-text-color;
}

.rep-play-button:hover{
    background-color: $text-color;
}

.rep-triangle{
    margin-top: 1px;
    margin-left: 3px;
    font-size: 18px;
}

.volandsettings{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-size: 25px;

    color: $unselected-text-color;
}

.progress-bar{
    width: 200px;
    height: 10px;
    border-radius: 20px;
    background-color: #B3B3B3;
}